extends layout.pug

block styles
    link(rel="stylesheet" href="/style/home.css")
block s
    script(src="/script/home.js")

block content
    div: p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Adipisci delectus deserunt veritatis? Explicabo facere hic iste natus officia optio quaerat rem velit.
        Aliquid animi deserunt, dolorum excepturi ipsam mollitia nemo.