doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        title Ma page web

        link(rel="stylesheet" href="/style/common.css")
        block styles

        block s
    body
        include nav.pug
        main
            block content
        footer &copy; Copyright 2025;